In [1]:
import pandas as pd

In [2]:
spam = pd.read_table('https://raw.githubusercontent.com/JulietMaria/Datascience/master/Dataset/dataset_44_spambase.csv', sep=',')

In [3]:
spam.head()

   word_freq_make  word_freq_address  ...  capital_run_length_total  class
0            0.00               0.64  ...                       278      1
1            0.21               0.28  ...                      1028      1
2            0.06               0.00  ...                      2259      1
3            0.00               0.00  ...                       191      1
4            0.00               0.00  ...                       191      1

[5 rows x 58 columns]

In [4]:
print(spam)

      word_freq_make  word_freq_address  ...  capital_run_length_total  class
0               0.00               0.64  ...                       278      1
1               0.21               0.28  ...                      1028      1
2               0.06               0.00  ...                      2259      1
3               0.00               0.00  ...                       191      1
4               0.00               0.00  ...                       191      1
...              ...                ...  ...                       ...    ...
4596            0.31               0.00  ...                        88      0
4597            0.00               0.00  ...                        14      0
4598            0.30               0.00  ...                       118      0
4599            0.96               0.00  ...                        78      0
4600            0.00               0.00  ...                        40      0

[4601 rows x 58 columns]

In [6]:
target = spam.pop('class')

In [7]:
print(target)

0       1
1       1
2       1
3       1
4       1
       ..
4596    0
4597    0
4598    0
4599    0
4600    0
Name: class, Length: 4601, dtype: int64

In [8]:
from sklearn.ensemble import RandomForestClassifier

In [16]:
seed = 618
rf_model = RandomForestClassifier(random_state=seed)

In [17]:
rf_model.fit(spam, target)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=618,
                       verbose=0, warm_start=False)

In [18]:
preds = rf_model.predict(spam)

In [19]:
print(preds)

[1 1 1 ... 0 0 0]

In [20]:
from sklearn.metrics import accuracy_score

In [21]:
acc_score = accuracy_score(target, preds)

In [22]:
print(acc_score)

0.9993479678330798